{
  "version": 3,
  "teams": [
    {
      "name": "Mattermost",
      "url": "{{ mattermost_url }}",
      "order": 0,
      "lastActiveTab": 0,
      "tabs": [
        {
          "name": "TAB_MESSAGING",
          "order": 0,
          "isOpen": true
        },
        {
          "name": "TAB_FOCALBOARD",
          "order": 1,
          "isOpen": true
        },
        {
          "name": "TAB_PLAYBOOKS",
          "order": 2,
          "isOpen": true
        }
      ]
    }
  ],
  "showTrayIcon": true,
  "trayIconTheme": "dark",
  "minimizeToTray": false,
  "notifications": {
    "flashWindow": 0,
    "bounceIcon": true,
    "bounceIconType": "informational"
  },
  "showUnreadBadge": true,
  "useSpellChecker": true,
  "enableHardwareAcceleration": false,
  "autostart": true,
  "hideOnStart": false,
  "spellCheckerLocales": [],
  "darkMode": true,
  "lastActiveTeam": 0,
  "downloadLocation": "/home/{{ username }}/Downloads",
  "startInFullscreen": false,
  "logLevel": "info",
  "alwaysClose": true,
  "autoCheckForUpdates": true
}

